
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.day-date-meta {
  margin-left: 85%;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
}
#unit-id {
  margin-top: 10px;
  height: 25px;
  padding: 3px;
  background: #ffffff;
}
#category-selector {
  margin-top: 14px;
  height: 25px;
}
.main-container {
  align-items: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  height: calc(100vh - 120px);
  border-radius: 5px;
  border: solid 1px black;
  background: linear-gradient(
    +135deg,
    rgba(4, 130, 214, 0.3),
    rgba(0, 0, 0, 0.9)
  );
}
.title-container {
  margin: 0;
  padding: 0 0 0 20px;
}
h1 {
  margin: 0 0 5px 0;
}
.input-label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.amount-item-input {
  margin-left: 4px;
}
.shopping-list-container {
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  padding: 5px;
  /* background: rgb(red, green, blue); */
  border: solid 3px rgba(0, 0, 0, 0.6);
}
.vegetables-container,
.fruits-container,
.milk-container,
.baking-container,
.meat-container,
.sea-food-container,
.hygiene-container {
  background: #ffffff;
  border: solid 1px black;
  width: 90%;
}
.possible-products-names {
  position: relative;
  /* width: 90%; */
  /* padding: 10px; */
  bottom: 0;
  color: #ffffff;
  height: 100px;
  overflow: initial;
}
.summary-label {
  color: #ffffff;
}
p {
  margin: 0;
  padding: 0;
}


/* SWITCH STYLE /////////////////////////////////////////// */
.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: #ffffff; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}